body {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    color: #333;
}

h1 {
    color: #444;
    text-align: center;
}

form {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    width: 70%;
    margin: 20px auto;
    box-shadow: 5px 5px 5px #ccc;
}

label {
    font-weight: bold;
}

input[type="text"], input[type="number"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-top: 8px;
    margin-bottom: 10px;
}

input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #fff;
    background-color: #333;
    margin-top: 20px;
}

input[type="submit"]:hover {
    background-color: #444;
}

table {
    width: 70%;
    margin: auto;
    border-collapse: collapse;
}

th, td {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

td input[type="text"] {
    width: 90%;
}
